@model VolonterUA.Models.Localizations.IndexPage.AIndexPageLocalization
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        #Header {
            background-color: yellow;
            width: 100%;
            height: 40px;
        }

        #Main {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            background-image: url("@Url.Content("~/Content/Images/TwoHelpHands.jpg")");
            background-repeat: no-repeat;
            background-size: cover;
        }

            #Main > div {
                width: 45%;
                max-height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }

        #TitleAndSloganWrapper {
            height: 70%;
        }

        #Main > div h1, h3 {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: xx-large;
            text-align: center;
            color: ghostwhite;
        }

        #SignUpAsButtons {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

            #SignUpAsButtons a {
                text-decoration: none;
                color: black;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: x-large;
                display: block;
                height: 100%;
                width: 100%;
                line-height: 50px;
            }

            #SignUpAsButtons > .SignUpAsButtonWrapper {
                height: 50px;
                width: 40%;
                text-align: center;
                background-color: goldenrod;
            }

                #SignUpAsButtons > .SignUpAsButtonWrapper:hover {
                    background-color: gold;
                }
    </style>
</head>
<body>
    <div id="Header">
        
    </div>
    <div id="Main">
        <div>
            <div id="TitleAndSloganWrapper">
                <div id="TitleWrapper">
                    <h1 id="Title">@Model.Title</h1>
                </div>
                <div id="SloganWrapper">
                    <h3 id="Slogan">@Model.Slogan</h3>
                </div>
            </div>
            <div id="SignUpAsButtons">
                <div class="SignUpAsButtonWrapper">
                    <a href="/register?type=Volonter" class="SignUpAsButton" id="SignUpAsVoloterButton">@Model.WantToHelp</a>
                </div>
                <div class="SignUpAsButtonWrapper">
                    <a href="/register?type=VolonterOrganization" class="SignUpAsButton" id="SignUpAsVoloterOrganizationButton">@Model.SearchForVolonters</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>