@model VolonterUA.Models.ViewModels.Home.VolonterHomePageViewModel

@{
    ViewBag.Title = Model.Localization.DocumentTitle;
    Layout = "~/Views/Personal/_Layout.cshtml";
}

<nav id="Header">
    <div id="logoHref">
        <a href="/Home/Index"></a>
    </div>
    <p>@Model.FullName</p>
</nav>

<div id="Main">
    <div id="MainWrapper">
        <h2>@Model.Localization.Upcoming</h2>
        <div id="upComingBlocks" class="blockslist">
            @foreach (var ev in Model.UpcomingVolonterEvents)
            {
                <div class="eventblock">
                    <h4>@ev.VolonterEvent.Description.Title</h4>
                    <dl>
                        <dt><q>@ev.VolonterEvent.VolonterOrganization.Name</q></dt>
                        <dd>@ev.VolonterEvent.Description.TextDescription</dd>
                    </dl>
                    <div>
                        <span>@Model.Localization.Location: @ev.VolonterEvent.Description.Location.TextAddress</span>
                        <span>@Model.Localization.Date: @ev.VolonterEvent.Description.Date.ToString("dd/M/yyyy hh:mm")</span>
                    </div>
                </div>
            }
        </div>
        <h2>@Model.Localization.InProgress</h2>
        <div id="inProgressBlocks" class="blockslist">
            @foreach (var ev in Model.InProgressVolonterEvents)
            {
                <div class="eventblock">
                    <h4>@ev.VolonterEvent.Description.Title</h4>
                    <dl>
                        <dt><q>@ev.VolonterEvent.VolonterOrganization.Name</q></dt>
                        <dd>@ev.VolonterEvent.Description.TextDescription</dd>
                    </dl>
                    <div>
                        <span>@Model.Localization.Location: @ev.VolonterEvent.Description.Location.TextAddress</span>
                        <span>@Model.Localization.Date: @ev.VolonterEvent.Description.Date.ToString("dd/M/yyyy hh:mm")</span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
